* {
    margin: 0;
    padding: 0;
}
body { 
    height: 1000px;;
}
.g1{
    background-color: grey;
}
.color1{
    color: black !important;
    padding-left: 100px;
}
.box {
    background-color: grey;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
} 
.row-margin {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.MYNAV {
    border-radius: 0px;
}
.tab { 
    font-size: 2rem;
    border-bottom: 2px solid white;
}
